*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}

body {
  background-color: #fff7f0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
